aiosnmp==0.2.2
starlette==0.12.9
opencv_python_headless==4.2.0.34
urllib3==1.22
nest_asyncio==1.2.1
pydantic==1.2
uvicorn==0.8.6
aiologger==0.4.0
aiomysql==0.0.20
aioping==0.2.0
dataclasses==0.6
aio_pika==6.6.0
aiohttp==3.6.2
zeep==3.4.0
beautifulsoup4==4.9.1
fastapi==0.55.1
pystemd==0.7.0
python_dateutil==2.8.1
secrets==1.0.2
